<!DOCTYPE html>
<html lang="en" ng-app="brimstone">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
 
    <title>Add Image</title>

    <!-- Load the Angular Javascript -->
    <script src="js/angular.min.js"></script>

    <script src="bootstrap/js/jquery-1.11.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
    <script src="js/ng-file-upload-shim.min.js"></script> 
    <script src="js/ng-file-upload.min.js"></script>
    <!--
     <script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>
    -->

   
   

     <!-- Load your custom Javascript with the module defined -->
    <script src="js/app.config.js"></script> 
    <!--<script src="js/uploadController.js"></script>-->
    <script src="js/controllers.js"></script>

     <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet"> 

  </head>

  <body>
    <div ng-controller="UserManager" ng-init="checkLoginStatus()">
      <div ng-include="'header.html'">
      </div>
   
      <div ng-controller="listingManager" ng-init="getListing()">
      <div id="blue">
        <div class="container">
          <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
            <h4>{{listing.title}}</h4>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!--  bluewrap --> 
             
      <div class="container w">
        <div class="row">
          <div class="col-lg-3">&nbsp;</div>  
          <div class="col-lg-6">    
            <h4 ng-cloak ng-show="queryError"><font color='red'>{{queryError}}</font></h4>
            <h4 ng-cloak ng-show="statusmsg"><font color='green'>{{statusmsg}}</font></h4>

            <!--<img height=100 width-100 src="" class="img-thumbnail">-->

            <div ng-controller="MyCtrl">
             
              <center>
                <div ng-cloak ng-show="fileError">
                  <div class="alert alert-danger"><b>{{fileError}}<br>{{fileErrorDetail}}</b>
                  </div>
                  <br>
                </div>

               <!--
               <div class="btn btn-primary btn-lg btn-block" ngf-select ngf-change="upload($files)" ngf-multiple="false" ngf-max-size='6000000' ngf-accept="'.jpg,.jpeg,.png,.gif'" ngf-capture="'camera'">Add Image
               </div>
               <button type="submit" ng-click="skipImage()" class="btn btn-default btn-lg btn-block">Skip</button><br>
               <br>
               <div id="image_progress_bar" class="progress">
                <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="{{progress}}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
                {{progress}} Complete
                </div>
                </div>
              -->

                <br>

                <div class="btn btn-primary btn-lg btn-block" ngf-select="uploadFiles($file)" ngf-max-size="8MB" accept="'.JPG,.jpg,.jpeg,.JPEG,.png,.PNG,.gif,.GIF'">Add Image
                </div>  
                <button type="submit" ng-click="skipImage()" class="btn btn-default btn-lg btn-block">Skip</button><br>
                <br>
                <div style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                <div id="image_progress_bar" class="progress">
                 <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="{{f.progress}}"
                aria-valuemin="0" aria-valuemax="100" style="width:{{f.progress}}%">
                {{f.progress}} Complete
                </div>
                </div>  
                
                <!--
                <h4>Upload on file select</h4>
                <button type="file" ngf-select="uploadFiles($file)" ngf-max-size="8MB" accept="'.JPG,.jpg,.jpeg,.JPEG,.png,.PNG,.gif,.GIF'">
                    Select File</button>
                <br><br>
                File:
                <div style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                    <span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%"  
                             ng-bind="f.progress + '%'"></div>
                    </span>
                </div>     
                {{errorMsg}}
              -->
                

             </center>
          </div>
           
  
       
          </div>
        </div>

                  

               <br><br>

             
            </div>  
            <div class="col-lg-3">&nbsp;</div><!-- col-lg-4 -->
          </div><!-- row -->
          <br>
        </div><!-- container -->

            
        </div> <!-- End of UserManager -->  
           

     
        <div ng-include="'footer.html'"></div> 
      
     
    </body>

</html>