<!DOCTYPE html>
<html lang="en" ng-app="brimstone">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
 
    <title>Edit Profile</title>

    <!-- Load the Angular Javascript -->
    <script src="js/angular.min.js"></script>

     <!-- Load your custom Javascript with the module defined -->
    <script src="js/app.config.js"></script> 
    <script src="js/controllers.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">  

  </head>

  <body>
    <div class="container-fluid"> 
      <div ng-controller="UserManager" ng-init="checkLoginStatus()">
        <div ng-include="'header.html'"></div>
       
      
        <div ng-init="getUserProfile()">
        {{user}}
          <div class="row centerpanelR">
            <div class="col-md-2 leftbarR">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
              <div>
                <h5 ng-cloak ng-show="queryError"><p class="bg-danger">{{queryError}}</p></h5>
                <h4 ng-cloak ng-show="statusmsg"><font color='green'>{{statusmsg}}</font></h4>
              </div>
              <span id="ask-question-title">Update User Profile</span> <br><br>
              <div class="row">
                <div class="col-md-12">     
                  
                  <!-- FORM -->
                <!-- Which function do you want called in your controller when the submit button is pressed -->
                <form class="center"  ng-submit="editUser()">
                  <label>Username</label> <input type="text" class="form-control" name="username" maxlength="50" ng-model="user.username"><br />
                  <label>First Name</label> <input type="text" class="form-control" name="firstname" maxlength="50" ng-model="user.firstname"><br />
                  <label>Last Name</label> <input type="text" class="form-control" name="lastname" maxlength="50" ng-model="user.lastname"><br />
                  <label>Email</label> <input type="text" class="form-control" name="email" maxlength="50" ng-model="user.email"><br />
                  <label>Company</label> <input type="text" class="form-control" name="company_name" maxlength="50" ng-model="user.company_name"><br />
                  <label>Zip</label> <input type="text" class="form-control" name="zip" maxlength="10" ng-model="user.zipcode"><br />

                  <button type="submit" class="btn btn-primary">Update</button>
                  <br><br>
                </form>   

                <br><br><br> 
                </div>
              </div>  

            </div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 rightbarR">&nbsp;</div>
          </div>

        </div> <!-- End of GetUserProfile -->  
        <div ng-include="'footer.html'"></div> 
      </div>  <!-- End of User Manager Controller -->
            
    </div> <!-- End of Container -->     
                
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="bootstrap/js/jquery-1.11.1.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>


