<!DOCTYPE html>
<html lang="en" ng-app="brimstone">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
 
    <title>Edit Listing</title>

    <!-- Load the Angular Javascript -->
    <script src="js/angular.min.js"></script>

    <!-- Load Angular File Upload Library -->
    <script src="js/ng-file-upload.min.js"></script> 

    <script src="bootstrap/js/jquery-1.11.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

     <!-- Load your custom Javascript with the module defined -->
    <script src="js/app.config.js"></script> 
    <script src="js/controllers.js"></script>


     <!-- Toaster -->
    <script src="js/toastr.min.js"></script>
    <link href="css/toastr.min.css" rel="stylesheet">


     <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet"> 
    <link href="css/range.css" rel="stylesheet">

  </head>

  <body>
    <div ng-controller="UserManager" ng-init="checkLoginStatus()">
      <div ng-include="'header.html'">
      </div>
   
      <div id="blue">
        <div class="container">
          <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
            <h4>Edit Listing</h4>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!--  bluewrap --> 
           
      <div class="container w">
        <div class="row">
          <div class="col-lg-2">&nbsp;</div>  
          <div class="col-lg-8">    
            <div ng-controller="listingManager">
              <h4 ng-cloak ng-show="queryError"><font color='red'>{{queryError}}</font></h4>

              <div ng-init="getListing()">    

              <!-- FORM -->
              <form  class="form-horizontal" role="form" ng-submit="editListing()">  <!-- Which function do you want called in your controller when the submit button is pressed -->
                <div class="form-group sm-form-spacer">

                  <label>Title</label><label class="formrequired">&nbsp;*</label> <input type="text" class="form-control" name="username" maxlength="75" required ng-model="listing.title"><br />
                  <label>Description</label><label class="formrequired">&nbsp;*</label><textarea class="form-control" rows="5" id="description" maxlength="5000" ng-model="listing.description"></textarea>        
                </div>  <!-- End Form Group -->
                <div class="form-group">
                  <div class="form-group row">
                    <div class="col-md-3">
                      <label>Price</label><label class="formrequired">&nbsp;*</label> 
                       <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" name="price" maxlength="10" required ng-model="listing.price"><br />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>City</label><label class="formrequired">&nbsp;*</label> <input type="text" class="form-control" name="price" maxlength="35" required ng-model="listing.location"><br />
                    </div>
                    <div class="col-md-3">
                       <label>Zipcode</label><label class="formrequired">&nbsp;*</label> <input type="text" class="form-control" name="price" maxlength="5" required ng-model="listing.zipcode"><br />
                    </div> 
                  </div> <!-- End Form Group Row --> 
                </div>  <!-- End Form Group -->
                <div class="form-group">
                  <div class="panel panel-success">
                    <div class="panel-heading">
                      <h3 class="panel-title">Optional</h3>
                    </div>
                    <div class="panel-body">
                      <div class="form-group row">
                        <div class="col-md-4">
                          <label>Make / Manufacturer</label> <input type="text" class="form-control" name="price" maxlength="25" ng-model="listing.make"><br />
                        </div>
                        <div class="col-md-4">
                          <label>Model Name / Number</label> <input type="text" class="form-control" name="price" maxlength="50" ng-model="listing.model"><br />
                        </div>
                        <div class="col-md-4">
                           <label>Dimensions</label> <input type="text" class="form-control" placeholder="Length x Width x Height" name="dimensions" maxlength="25" ng-model="listing.dimensions"><br />
                        </div> 
                      </div> <!-- End Form Group Row --> 

                      <div class="form-group row">
                        <div class="col-md-4">
                          <label>Condition</label> 
                          <select class="form-control" ng-model="listing.condition">
                            <option value="new">New</option>
                            <option value="likenew">Used - Like New</option>
                            <option value="good">Used - Good</option>
                            <option value="bad">Used - Bad</option>
                          </select><br />
                        </div>
                      </div> <!-- End Form Group Row --> 

                    </div>
                  </div>
                </div>  <!-- End Form Group -->


                <div class="form-group">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h3 class="panel-title">Contact Information</h3>
                    </div>
                    <div class="panel-body">
                      <div class="form-group row">
                        <div class="col-md-4">
                          <label>Email</label><label class="formrequired">&nbsp;*</label> <input type="email" class="form-control" name="email" maxlength="50" required ng-model="listing.contact_email"><br />
                         
                        </div>
                        <div class="col-md-4">
                           <label>Phone</label> <input ng-keyup="checkPhoneFormatting($event)"  type="tel" class="form-control" name="phone" maxlength="12" placeholder="555-555-5555" ng-model="listing.contact_phone"><br />
                        </div>
                       
                      </div>
                    </div>
                  </div>  <!-- End Panel -->
                </div>  <!-- End Form Group -->

                <div class="form-group">
                <br>
                  
                  <button type="submit" class="btn btn-primary btn-lg">Update Listing</button>&nbsp;
                  <a ng-href="viewListing.html?id={{listing.id}}"><button class="btn btn-default btn-lg">Cancel</button></a> <br /> 
                </div>
              </form>
        
                   <!--{{listing}}
                   {{user}}
                   {{loggedin}}-->
              </div>
          </div>  
          <div class="col-lg-2">&nbsp;</div><!-- col-lg-4 -->
        </div><!-- row -->
        <br>
      </div><!-- container -->
      
      
    </div> <!-- End of UserManager -->   
          
     
        <div ng-include="'footer.html'"></div> 
      </div>  <!-- End of User Manager Controller -->   
                

    </body>

</html>


