<!DOCTYPE html>
<html lang="en" ng-app="brimstone">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
 
    <title>Login</title>

     <!-- Load the Angular Javascript -->
    <script src="js/angular.min.js"></script>

    <!-- Load Angular File Upload Library -->
    <script src="js/ng-file-upload.min.js"></script> 

     <!-- Load your custom Javascript with the module defined -->
    <script src="js/app.config.js"></script>
    <script src="js/controllers.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
  
  </head>

    <script>
    function clearToken() {
      localStorage.removeItem('brimstone_token');
    }
    </script>

    <body onload="clearToken()">
      <div class="container-fluid"> 
        
        <div ng-include="'header.html'"></div> 

        <div id="blue">
          <div class="container">
            <div class="row centered">
              <div class="col-lg-8 col-lg-offset-2">
              <h1><b>Login to Brimstone</b></h1>
              </div>
            </div><!-- row -->
          </div><!-- container -->
        </div><!--  bluewrap --> 
            
        <div ng-controller="UserManager">
          <div ng-init="clearUserScope()"></div>
        
          <div class="row">
      
             <div class="col-lg-4 col-lg-offset-4">
              <br>               
              <div class="alert alert-danger" ng-cloak ng-show="queryError">
                <strong>Error! </strong>{{queryError}}
              </div>

              <div class="panel">
                <div class="panel-body">
            
              <form class="center auth_box"  ng-submit="authenticateUser()">
                <label>Username</label> <input type="text" class="form-control" name="username" maxlength="50" ng-model="user.username" autofocus="autofocus" required><br />
                <label>Password</label> <input type="password" class="form-control" name="password" placeholder="" maxlength="50" ng-model="user.password" required><br />
                
                
                <button type="submit" class="btn btn-primary">Login</button>
                
              </form>   
              <br>  
              <p class="md_subtext"> <a target="_new" href="#">Forgot My Password</a></p>
                      
              </div>           
              </div>      

              
              <!--<span>{{user}}</span>-->
              <br><br><br><br><br><br><br><br>     
            </div>   

           
          </div>
                  
          <div ng-include="'footer.html'"></div> 
        </div>    <!-- End Controller -->
        
        
      </div> <!-- End of Container -->
      
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="bootstrap/js/jquery-1.11.1.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>


