<!DOCTYPE html>
<html lang="en" ng-app="AnalyticsOverflow">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
 
    <title>Login to Barnum</title>

    <!-- Load the Angular Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

     <!-- Load your custom Javascript with the module defined -->
    <script src="js/app.config.js"></script>
    <script src="js/controllers.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    
    <link href="css/analytics_styles.css" rel="stylesheet"> 
    <link rel="stylesheet" href="css/medium.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">  

  </head>

    <script>
    function clearToken() {
      sessionStorage.removeItem('barnum_token');
    }
    </script>

    <body onload="clearToken()">
      <div class="container-fluid"> 
        
          <div ng-include="'header-alt.html'"></div> 

            
        <div ng-controller="UserManager">
        
          <div class="row centerpanelR">
            <div class="col-md-2 leftbarR">&nbsp;</div>
            <div class="col-md-1">&nbsp;</div>

            <div class="col-md-6">
              <br>               
              <div class="alert alert-danger" ng-cloak ng-show="queryError">
                <strong>Error! </strong>{{queryError}}
              </div>

              <div class="page_title">Login to Barnum <span class="glyphicon glyphicon-lock"></span> </div>  
            
              <form class="center auth_box"  ng-submit="authenticateUserReal()">
                <label>Username</label> <input type="text" class="form-control" name="username" maxlength="50" ng-model="user.username" autofocus="autofocus" required><br />
                <label>Password</label> <input type="password" class="form-control" name="password" placeholder="" maxlength="50" ng-model="user.password" required><br />
               
                <button type="submit" class="btn btn-primary">Login</button>
             
              </form>   

              
              <!--<span>{{user}}</span>-->
              <br><br><br><br><br><br><br><br>     
            </div>   

            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 rightbarR">&nbsp;</div>
          </div>
                  

        </div>    <!-- End Controller -->
        
        
      </div> <!-- End of Container -->
      <a id="feedback_link" data-toggle="modal" data-target="#emailModal" class="feedback_link left"></a>  
      <div ng-include="'footer.html'"></div> 

        <div ng-controller="emailManager">
          <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body welcome_modal">
                        <form>
                            <center>
                                Please Provide Feedback<br><br>
                                <textarea class="form-control slim" rows="7" ng-model="email.body" id="emailComment"></textarea><br>
                            </center>
                        </form>
                    </div>
                    <div class="modal-footer"><!-- footer area with buttons for a continued dialog -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-click="sendEmail()" class="btn btn-success" data-dismiss="modal">Submit</button> 
                    </div>
                </div>
            </div>
        </div>
      </div>

      <script>
          function email() {
              $('#emailModal').modal()
          }
      </script>   

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>


