<!DOCTYPE html>
<html lang="en" ng-app="brimstone">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
 
    <title>Register</title>

     <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/range.css" rel="stylesheet">

     <!-- Load the Angular Javascript -->
    <script src="js/angular.min.js"></script>
    
    <!-- Load Angular File Upload Library -->
    <script src="js/ng-file-upload.min.js"></script> 

    <script src="bootstrap/js/jquery-1.11.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

         <!-- Toaster -->
    <script src="js/toastr.min.js"></script>
    <link href="css/toastr.min.css" rel="stylesheet">

    <!-- Load your custom Javascript with the module defined -->
    <script src="js/app.config.js"></script>
    <script src="js/controllers.js"></script>

    <!-- Browser Detection Library -->
    <script src="js/bowser.js"></script>



  </head>

  <body>
    <div class="container-fluid"> 
      <div ng-controller="UserManager">
        <div ng-include="'header.html'"></div>
        
         <div id="blue">
          <div class="container">
            <div class="row centered">
              <div class="col-lg-8 col-lg-offset-2">
              <h4>Register</h4>
              </div>
            </div><!-- row -->
          </div><!-- container -->
        </div><!--  bluewrap --> 

        <div class="container w">
          <div class="row">
            <div class="col-lg-3">&nbsp;</div>  
            <div class="col-lg-6">    
              <h4 ng-cloak ng-show="queryError"><font color='red'>{{queryError}}</font></h4>
              <h4 ng-cloak ng-show="statusmsg"><font color='green'>{{statusmsg}}</font></h4>
                <!-- FORM -->
                <form  class="form-horizontal" role="form" ng-submit="addUser()">  <!-- Which function do you want called in your controller when the submit button is pressed -->
                  <div class="form-group">
                    <label>Username</label><label class="formrequired">&nbsp;*&nbsp;&nbsp;</label> 
                    <span ng-if="unique == true && started == true">
                       <span class="success">
                      <b>Username is available</b>
                    </span>
                   
                    </span>
                    <span ng-if="unique != true && started == true">
                      
                      <span class="formrequired">
                      <b>Username is not available</b>
                    </span>

                    </span>
                    <input type="text" ng-change="checkUnique()" required class="form-control" name="username" maxlength="50" ng-model="user.username"><br />
                  </div>
                  <div class="form-group">
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label>Password</label><label class="formrequired">&nbsp;*</label> <input type="password" required class="form-control" name="password" maxlength="10" required ng-model="user.password"><br />
                      </div>
                      <div class="col-md-6">
                        <label>Confirm Password</label><label class="formrequired">&nbsp;*</label> <input type="password" required class="form-control" name="confirm" maxlength="25" required ng-model="user.confirm_password"><br />
                      </div>
                    </div> <!-- End Form Group Row --> 
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label>First Name</label><label class="formrequired">&nbsp;*</label> <input type="text" required class="form-control" name="firstname" maxlength="10" required ng-model="user.firstname"><br />
                      </div>
                      <div class="col-md-6">
                        <label>Last Name</label><label class="formrequired">&nbsp;*</label> <input type="text" required class="form-control" name="lastname" maxlength="25" required ng-model="user.lastname">
                      </div>
                    </div> <!-- End Form Group Row --> 
                  </div>  <!-- End Form Group  -->
                  <div class="form-group">
                    <label>Email</label><label class="formrequired">&nbsp;*</label> <input type="email" required class="form-control" name="email" maxlength="50" ng-model="user.email"><br />
                  </div>
                  <div class="form-group">
                   <div class="form-group row">
                      <div class="col-md-9">
                        <label>Company Name</label> <input type="text" class="form-control" name="company_name" maxlength="15" ng-model="user.company_name"><br />
                      </div>
                      <div class="col-md-3">
                        <label>Zip Code</label><label class="formrequired">&nbsp;*</label> <input type="text" required class="form-control" name="zip" maxlength="5" required ng-model="user.zipcode"><br />
                      </div>
                    </div> <!-- End Form Group Row --> 
                  </div> <!-- End Form Group -->
                  
                  <div class="form-group">
                  <center>
                    <h3>Prove You Are a Human, Slide to Right</h3>
                    <input type="range" size="2" name="humanoid" min="1" max="5" value="1" ng-model="user.humanoid">
                    <br></center><br>
                  
                  <button type="submit" class="btn btn-primary btn-lg">Register</button><br /> 
                </div>
                </form>
          
                
            </div>  
            <div class="col-lg-3">&nbsp;</div><!-- col-lg-4 -->
          </div><!-- row -->
          <br>
        </div><!-- container -->
        
      
    </div> <!-- End of UserManager -->   

         

        <div ng-include="'footer.html'"></div> 
      </div>  <!-- End of User Manager Controller -->
            
    </div> <!-- End of Container -->     
                
     
    </body>

</html>


