<!DOCTYPE html>
<html lang="en" ng-app="brimstone">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
 
    <title>Search</title>

     <!-- Load the Angular Javascript -->
    <script src="js/angular.min.js"></script>

    <!-- Load Angular File Upload Library -->
    <script src="js/ng-file-upload.min.js"></script> 

     <!-- Load your custom Javascript with the module defined -->
    <script src="js/app.config.js"></script>
    <script src="js/controllers.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
  
  </head>

  <body>
    <div ng-controller="UserManager" ng-init="checkLoginStatus()">
      <div ng-include="'header.html'">
      </div>

      <!-- Name the controller which manages this part of the page --> 
      <div ng-controller="SearchManager" data-ng-init="searchListings()">

        <div id="searchwrap">
          <div class="container">
            <div class="row centered">
              <div class="col-lg-6 col-lg-offset-3">
             <br><br>
              <!--<form class="form-horizontal" role="form" ng-submit="searchListings()">-->
              <form class="form-horizontal" role="form" action="search.html">
                <div class="form-group rwd-tb-l">
                   <h4>What are you looking for?</h4> <input type="text" class="form-control" name="query" maxlength="50" ng-model="listing.query"><br />
                </div>
                <div class="form-group rwd-tb">
                   <div class="col-md-10">
                    <div class="form-group row">
                      <label for="Zipcode" class="col-md-2 control-label whitelabel">Near</label>
                      <div class="col-md-4">
                          <input type="text" class="form-control" placeholder="zipcode" name="zipcode" maxlength="5" ng-model="listing.zip">
                      </div>
                      <div class="col-md-3">
                          <button type="submit" class="btn btn-primary rwd-line">Search</button>
                      </div>
                    </div>
                  </div>
                </div>  
              </form>   

              </div>
            </div><!-- row -->
          </div><!-- container -->
        </div><!-- searchwrap -->
     

        <!-- Start of Search results Middle Column -->
        <div class="container w" style="background:#FFFFFF;">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                 <div ng-show="complete.status"> <h5 id="num_search_results"><b>{{num_of_results}}</b> Results for <b>{{original_query}}</b></h5><hr></div>
              </div>
            </div><!-- row -->
        </div><!-- container -->

        
        <div class="container w" style="background:#FFFFFF;">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                <div ng-show="searching">
                  <center><img src="assets/images/loading.gif" alt="Loading" /></center>
                </div>
                <div ng-repeat="listing in listings | limitTo:15">
                  <div class="row">
                    <div class="col-md-2" style="background:#FFFFFF;">
                      <a href="viewlisting.html?id={{listing.id}}"><img class="img-thumbnail img-responsive" ng-src="{{listing.thumbnail}}"></a>
                    </div>
                    <div class="col-md-10" style="background:#FFFFFF;">
                      <h3 class="no_top_margin min_bottom_margin"> <a href="viewlisting.html?id={{listing.id}}"> {{listing.title}}</a></h3>  
                      <h5 class="no_top_margin min_bottom_margin description"><i>{{listing.description}}<i></h5>
                      <div class="row">
                        <div class="col-md-12" style="background:#FFFFFF;">
                          <h5><b>${{listing.price}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{listing.location}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>


              </div>
            </div><!-- row -->
        </div><!-- container -->

      

      <!-- Close NG Controller Div-->  
      </div>

       <div ng-include="'footer.html'"></div> 
 

  </body>
</html>


