<!DOCTYPE html>
<html lang="en" ng-app="brimstone">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
 
    <title>View Listing</title>

    <!-- Load the Angular Javascript -->
    <script src="js/angular.min.js"></script>

    <!-- Load Angular File Upload Library -->
    <script src="js/ng-file-upload.min.js"></script> 

     <!-- Load your custom Javascript with the module defined -->
    <script src="js/app.config.js"></script> 
    <script src="js/controllers.js"></script>

     <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet"> 

  </head>

  <body>
    <div ng-controller="UserManager" ng-init="checkLoginStatus()">
      <div ng-include="'header.html'">
      </div>
     
       
      <div ng-controller="listingManager" ng-init="getListing()">

        <div class="container">
           <div class="row ">
              <div class="col-lg-8 col-lg-offset-2"><br>
                <h1>{{listing.title}}</h1>
          </div>
        </div>
      </div>
             
        <div class="container y">
          <div class="row">
            <div class="col-lg-2">&nbsp;</div>  
            <div class="col-lg-8" style="background:#FFFFFF;">    
              <h4 ng-cloak ng-show="queryError"><font color='red'>{{queryError}}</font></h4>
              <h4 ng-cloak ng-show="statusmsg"><font color='green'>{{statusmsg}}</font></h4>
  
               <div class="row">
               <div class="col-lg-6"> 
                <a data-toggle="modal" data-target="#myModal" href="#myModal"><img class="img-thumbnail img-responsive med_bottom_margin med_top_margin" ng-src={{listing.image}}></a>

                <span ng-if="listing.username === loggedin.username">
                  <br>
                  <button type="submit" ng-click="updateImage()" class="btn btn-primary">Change Image</button>&nbsp;
                  <button type="submit" ng-click="removeImage()" class="btn btn-danger">Remove Image</button>&nbsp;
                  <a ng-href="editlisting.html?id={{listing.id}}"><button class="btn btn-warning">Edit Listing</button></a> 
                  <br>
                </span>
                

               </div>
              <div class="col-lg-6" >&nbsp;</div> 
               </div>

              
               <h4><strong>Description</strong></h4>
                {{listing.description}}<br>

               

               <div class="row">
                <div class="col-lg-6">
                  <h4><strong>Price</strong></h4> 
                  {{listing.price}} <br>
                </div>
                <div class="col-lg-6">
                  <h4><strong>Condition</strong></h4>
                  {{listing.condition}}
                </div>
              </div>
              <br> 

               <div class="row">
                <div class="col-lg-6">
                  <h4><strong>Location</strong></h4>
                  {{listing.location}} 
                </div>
                <div class="col-lg-6">
                   <h4><strong>Zipcode</strong></h4>
                  {{listing.zipcode}} 
                </div>
              </div>
              <br> 
              
             

               <h4><strong>Additional Information</strong></h4>
               <table class="table table-striped">
                  <tr>
                   <td>Make</td> 
                   <td>{{listing.make}}</td> 
                 </tr>
                 <tr>
                   <td>Model</td> 
                   <td>{{listing.model}}</td> 
                 </tr>
                 <tr>
                   <td> Dimensions</td> 
                   <td> {{listing.dimensions}}</td> 
                 </tr>
              
               </table>

              
               <h4><strong>Please Contact</strong></h4>
                <i>{{listing.contact_email}}</i> <br>
                <i>{{listing.contact_phone}}</i> 

               <br><br>
             
            </div>  
            <div class="col-lg-2">&nbsp;</div><!-- col-lg-4 -->
          </div><!-- row -->
          <br>
        </div><!-- container -->

                        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="width: 80%">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Full-Size Image</h4>
              </div>
              <div class="modal-body">
                <div class="row centered">
                  <div class="col-md-12">
                  <img img-responsive ng-src="{{listing.image}}">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </div>  <!-- End of Listing Manager Controller -->   
      
    </div> <!-- End of User Manager Controller -->  
            

           

     
        <div ng-include="'footer.html'"></div> 




      </div>  <!-- End of User Manager Controller -->   


      
                
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="bootstrap/js/jquery-1.11.1.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>


3